<div class="article col col-6 col-t-12 grid__post animate">
  <div class="article__inner">

    {{ if .Params.Image }}
    {{ $img := $.Page.Resources.GetMatch .Params.Image }}
    <div class="article__head">
      {{ if .Params.video_embed }}
      <div class="video-icon">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
          <polygon points="40,30 70,50 40,70"></polygon>
        </svg>
      </div>
      {{ end }}

      <a class="article__image" href="{{ .RelPermalink }}">
      {{ if $img }}
        <img class="lazy" data-src="{{ $img.RelPermalink }}" alt="{{ .Title }}">
      {{ else }}
        <img class="lazy" data-src="{{ .Params.Image | absURL }}" alt="{{ .Title }}">
      {{ end }}
      </a>
    </div>
    {{ end }}

    <div class="article__content">

      {{ if .Params.tags }}
      <div class="article__tags">
        {{ range ($.GetTerms "tags") }}
        <a href="{{ .Permalink }}" class="article__tag" style="background: {{ with $.Params.tags_color }}{{ . }}{{ else }}var(--dark-gray){{ end }};">{{ .LinkTitle }}</a>
        {{ end }}
      </div>
      {{ end }}

      <h2 class="article__title">
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      </h2>

      <p class="article__excerpt">{{ if .Description }}{{ .Description }}{{ else }}{{ truncate 160 .Summary | safeHTML }}{{ end }}</p>

      <div class="article__meta">
        <time class="article__date" datetime="{{ .Date.Format " 2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format "02 Jan, 2006" }}</time>
        <div class="article__minutes">
          {{ .ReadingTime }} min read
        </div>
      </div>

    </div>
  </div>
</div>